---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;

import '@unocss/reset/tailwind.css';
import React, { useState } from 'react';

import Sidebar from "../components/admin/Sidebar";
import Header from "../components/admin/Header";
import SidebarComp from "../components/admin/SidebarComp";
import HeaderComp from "../components/admin/HeaderComp";

// const [sidebarOpen, setSidebarOpen] = useState(false);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body>

		<div class="flex h-screen overflow-hidden">

			<SidebarComp client:idle/>
			<!-- <Sidebar sidebarOpen={sidebarOpen} setSidebarOpen={setSidebarOpen} client:load/> -->
	
			<div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
	
				<HeaderComp client:idle/>
				<!-- <Header sidebarOpen={sidebarOpen} setSidebarOpen={setSidebarOpen} client:load/> -->
	
				<main>
					<slot />
				</main>
			</div>
		</div>

	</body>
</html>
